<img class="img-logo" src="/img/Copy of Untitled Design.png" alt="img-logo" />
<div class="nav-list">
    <ul class="primary-list">
        <li class="list"><a href="/"> Home</a></li>
        <li class="list"><a href="/products"> Producto </a></li>
        <li class="list"><a href="/cart"> Carrito</a></li>
        <li class="list"><a href="/Login"> Ingreso</a></li>
        <li class="list"><a href="/register"> Registrate</a></li>
    </ul>
</div>
