<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

    <title>Litlle BU!</title>
</head>
<body>
    <h1 class="title">Little BU</h1>
    <h3 class="title">Calzado para niños</h3>

    <!--header-->
    <header>
    <!--En el header puse barra de navegacion y logo falta el buscador-->
        <img class="img-logo" src="/img/Little Bu.png" alt="img-logo">
        <div class="nav-list">
            <ul class="primary-list">
                <li class="list">Home</li>
                <li class="list"> <a href="products"> Producto </a></li>
                <li class="list">Carrito</li>
                <li class="list-in">Ingreso</li>
            </ul>
        </div>
    </header>
    <content>
        <section class="content">
            <h3>Productos destacados</h3>
            <img src="###" alt="img-producto1">
            <img src="###" alt="img-producto2">
            <img src="###" alt="img-producto3">
            <img src="###" alt="img-producto4">
        </section>
        <section class="content">
            <h3>Ofertas</h3>
            <img src="###" alt="img-producto5">
            <img src="###" alt="img-producto6">
            <img src="###" alt="img-producto7">
            <img src="###" alt="img-producto8">
        </section>
    </content>
    
    <footer>

        <h3>aca va el footer</h3>
        <!--Medios de pagos, envios, copyright, contacto, ver iconos para agregar-->

    </footer>
    
</body>
</html>