<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/css/style.css">

    <title>Litlle BU!</title>
</head>
<body>
    <h1 class="title">Titulo Principal</h1>

    <!--header-->
    <header class="header">
    <!--En el header puse barra de navegacion y logo falta el buscador-->
        <img class="img-logo" src="###" alt="img-logo">
        <div class="nav-list">
            <ul class="primary-list">
                <li class="home">Home</li>
                <li class="Producto"> <a href="products"> Producto </a></li>
                <li class="carrito">Carrito</li>
                <li class="sign-in">Ingreso</li>
            </ul>
        </div>
    </header>
    
    <!--Contenedor-->
    <div class="content">
    <!--En este div deberiamos agregar contenido-->
    </div>    
    
</body>
</html>