<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="https://fonts.googleapis.com/css2?family=Grandstander&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/base.css" />
        <title>Litlle BU!</title>
    </head>
    <body>
        <header>
            <!--En el header puse barra de navegacion y logo falta el buscador-->
            <img
                class="img-logo"
                src="/img/Copy of Untitled Design.png"
                alt="img-logo"
            />
            <div class="nav-list">
                <ul class="primary-list">
                    <li class="list"><a href="/"> Home</a></li>
                    <li class="list"><a href="/products"> Producto </a></li>
                    <li class="list"><a href="/cart"> Carrito</a></li>
                    <li class="list"><a href="/Login"> Ingreso</a></li>
                    <li class="list"><a href="/register"> Registrate</a></li>
                </ul>
            </div>
        </header>

        <main class="product-index">
            <h2>Productos destacados</h2>
            <section class="content-destacados">
                <!--separar cada imagen en un article para luego agregar contenido de descripcion y precios-->
                <article>
                    <img src="/img/zapatito-prueba.jpg" alt="img-producto1" />
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ducimus, reprehenderit. Fuga culpa itaque dignissimos
                        temporibus optio. Suscipit necessitatibus explicabo
                        voluptas!
                    </p>
                </article>
                <article>
                    <img src="/img/zapatito-prueba.jpg" alt="img-producto1" />
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ducimus, reprehenderit. Fuga culpa itaque dignissimos
                        temporibus optio. Suscipit necessitatibus explicabo
                        voluptas!
                    </p>
                </article>
                <article>
                    <img src="/img/zapatito-prueba.jpg" alt="img-producto1" />
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ducimus, reprehenderit. Fuga culpa itaque dignissimos
                        temporibus optio. Suscipit necessitatibus explicabo
                        voluptas!
                    </p>
                </article>
            </section>
            <h2>Ofertas</h2>
            <section class="content-ofertas">
                <article>
                    <img src="/img/zapatito-prueba.jpg" alt="img-producto1" />
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ducimus, reprehenderit. Fuga culpa itaque dignissimos
                        temporibus optio. Suscipit necessitatibus explicabo
                        voluptas!
                    </p>
                </article>
                <article>
                    <img src="/img/zapatito-prueba.jpg" alt="img-producto1" />
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ducimus, reprehenderit. Fuga culpa itaque dignissimos
                        temporibus optio. Suscipit necessitatibus explicabo
                        voluptas!
                    </p>
                </article>
                <article>
                    <img src="/img/zapatito-prueba.jpg" alt="img-producto1" />
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ducimus, reprehenderit. Fuga culpa itaque dignissimos
                        temporibus optio. Suscipit necessitatibus explicabo
                        voluptas!
                    </p>
                </article>
            </section>
        </main>
    </body>
    <footer id="footer">
        <div class="footer-box">
            <h3>Contacto</h3>
            <p>Correo: xxxxxxx@gmail.com</p>
            <p>Whatsapp: 15-xxxxxxx</p>
            <p>Dirección: xxxxxxxxxxxxxx</p>
        </div>
        <div class="footer-box">
            <h3>Medios de pago</h3>
            <p>Tarjetas de crédito y débito</p>
            <p>Transferencias</p>
            <p>Pago fácil</p>
        </div>
        <div class="footer-box">
            <h3>Formas de entrega</h3>
            <p>Correo argentino</p>
            <p>Retiro en sucursales</p>
            <p>Entrega a Domicilio</p>
        </div>
        <!--Medios de pagos, envios, copyright, contacto, ver iconos para agregar-->
    </footer>
</html>
