<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Login!</title>
</head>
<body>
    <header>
    <!--En el header puse barra de navegacion y logo falta el buscador-->
        <img class="img-logo" src="/img/Little Bu.png" alt="img-logo">
        <div class="nav-list">
            <ul class="primary-list">
                <li class="list"><a href="/"> Home</a></li>
                <li class="list"><a href="/products"> Producto </a></li>
                <li class="list"><a href="/cart"> Carrito</a></li>
                <li class="list"><a href="/Login"> Ingreso</a></li>
                <li class="list"><a href="/register"> Registrate</a></li>
            </ul>
        </div>
    </header>
    
</body>
</html>