body{
    
}

.title {
    font-family: 'Grandstander', cursive;
    text-align: center;
}
header {
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: #ff1616;
}
.img-logo{
    width: 50%;
}
.nav-list{
    background-color: #ffde59;
    box-sizing: border-box;
    width: 100%;

}
ul {
 width: 100%;
 list-style: none;
 
}
li {
    display: table-cell;
    padding: 0 20px 0 20px;
    
}