body{
    /*background: #ff1616;*/
    
}

.title {
    font-family: 'Grandstander', cursive;
    text-align: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #ff1616;
    height: 200px;
}

.img-logo {
    width: 30%;
    height: 100%;
    margin: 0 auto;
}

.nav-list {
    background-color: #ffde59;
    margin: 0 auto;
    width: 100%;

}

ul {
 width: 100%;
 list-style: none;

 
}

li {
    display: table-cell;
    padding: 0 20px 0 20px;
    width: 30%;
    
}

a {
    text-decoration: none;
}

content {
    margin: 0 auto;
    max-width: 900px;
}
section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 30%;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
    background: white;
}

article img {
    width: 100%;
}

content h2 {
    margin-top: 80px;
    text-align: center;
}