<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head', {title: "Nuestros Productos"}) %>
    </head>
    <body>
        <%- include('../partials/header') %>
        <h2>Detalle del producto: --------------</h2>
        <div>
            <%- include('../partials/article') %>
            <h1>-------------</h1>
            <p>
                Precio: $$$$$<br />
                12% OFF
            </p>
        </div>

        <%- include('../partials/footer') %>
    </body>
</html>
