<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head', {title: "Productos"}) %>
    </head>
    <body>
        <%- include('../partials/header') %>
        <h2>Nuestros productos</h2>
        <main>
            <% products.forEach((product,i) => { %> <%- include('product-card',
            {product: product}) %> <% }) %>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>
