<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head', {title: "Nuestros Productos"}) %>
    </head>
    <body>
        <%- include('../partials/header') %>
        <div class="product-content">
            <% for( let i = 0; i < 18; i++ ) { %> <%-
            include('../partials/article') %> <% } %>
        </div>
        <%- include('../partials/footer') %>
    </body>
</html>
